*{
            margin: 0px;
            padding: 0px;
            font-family: "微软雅黑";
        }
        body{
            url(res/bg.png);
            background-repeat: repeat;
        }
@media screen and (min-width: 1100px){
        .mobile{
            display: none;
        }
        .pc{
            display: block;
        }
        #topbar{
            background: url(res/topbar.png);
            width: 100%;
            height: 64px;
            margin: 0 auto;
            position: relative;
        }
        #logo_pan{
            position:absolute;
            left: 50%;
            top: 50%;
            width: 50%;
            height: 50%;
            right: 0px;
        }
        #logo{
            position: absolute;
            width: 106px;
            height: 54px;
            top: -27px;
            left: -53px;
            background:url(res/logo.png);
            background-position: center top;
        }
        .h1{
            position: relative;
            width: 100%;
            height: 40px;
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;
        }

        #wrapbox{
            width: 1100px;
            height: 690px;
            margin: 0 auto;
            margin-top: 0px;
            position: relative;
            overflow: hidden;
            background:none;
            background-position: center;
            display: none;
        }
        #wrap{
            width: 922px;
            height: 600px;
            position: absolute;
            overflow: hidden;
            top: 54px;
            left: 88px;
            /*box-shadow:0 0 50px 10px rgba(0,0,0,0.3);*/
        }
        .footer{
            width: 100%;
            height: auto;
            text-align: center;
        }
        #flipbook{
                
            }
            .page{
                width: 461px;
                height: 600px;
                overflow: hidden;
            }
            .hard{
                
            }
            .box{
                position: absolute;
                background: #fff;
                top: 10px;
                bottom: 10px;
                left: 20px;
                right: 20px;
            }
            h2{
                position: absolute;
                top: 20px;
                left: 20px;
            }
            ul{
                position: absolute;
                top: 60px;
                bottom: 30px;
                left: 20px;
                right: 20px;
            }
            li{
                list-style: none;
                width: 100%;
                height: 20px;
                margin-top: 10px;
                line-height: 30px;
                cursor: pointer;
            }
            a,a:link,a:visited,a:hover{
                width: 100%;
                color: #000;
                text-decoration: none;
            }
            h1{
                position: absolute;
                top: 20px;
                left: 20px;
                right: 20px;
                height: 20px;
                color: #474747;
                text-align: center;
                font-size: 22px;
                font-weight: 100;
            }
            .info{
                height: 170px;
                overflow: hidden;
                background: #e9e9e9;
                position: absolute;
                top: 79px;
                left: 20px;
                right: 20px;
                border-radius: 10px;
            }
            p{
                position: absolute;
                font-size: 14px;
                line-height: 25px;
                
                height: auto;
                top: 10px;
                left: 10px;
                right: 10px;
                
            }
            .facebg{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: url(pages/facebg.png);
                left top;
                background-repeat: no-repeat;
            }
            .pagebg{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: url(pages/pagebg.png);
                background-position: left top;
            }
            .face{
                position: absolute;
                top: 85px;
                width: 278px;
                height: 157px;
                left: 94px;
            }
            .face img{
                width: 278px;
                height: 157px;
            }
            .face1{
                position: absolute;
                top: 287px;
                left: 28px;
                width: 81px;
                height: 81px;
                overflow: hidden;
            }
            .face2{
                position: absolute;
                top: 421px;
                left: 28px;
                width: 81px;
                height: 81px;
                overflow: hidden;
            }
            .info1{
                position: absolute;
                top: 288px;
                left: 123px;
                width: 278px;
                height: 80px;
            }
            .info2{
                position: absolute;
                top: 423px;
                left: 123px;
                width: 278px;
                height: 80px;
            }
            .info1 h2,.info2 h2{
                font-size: 18px;
                position: absolute;
                top: 0px;
                left: 0px;
                line-height:10px;
            }
            .info1 p,.info2 p{
                font-size: 12px;
                position: absolute;
                top: 25px;
                left: 0px;
                line-height: 18px;
            }
            .play{
                position: absolute;
                width: 53px;
                height: 53px;
                background: url(res/play.png);
                top: 50px;
                left:110px;
                cursor: pointer;
            }
            .pagepage{
                position: absolute;
                top: 270px;
                left: 70px;
                right: 20px;
                bottom: 20px;
                font-size: 14px;
                line-height: 20px;
                overflow-y:auto;
            }
            .q{
                color: #9a0000;
            }
            .a{
                color: #fe9967;
            }
            video{
                position: absolute;
                top: 85px;
                width: 278px;
                height: 157px;
                left: 94px;
                background:#000;
                display: none;
                z-index: 999;
            }
            .left{
                position: absolute;
                background: url(res/left.png);
                width: 34px;
                height: 40px;
                bottom: 0px;
                left: 0px;
                display: none;
            }
            .right{
                position: absolute;
                background: url(res/right.png);
                width: 34px;
                height: 40px;
                bottom: 0px;
                right: 0px;
                display: none;
            }
            #tip,#menu{
                display: none;
                cursor: pointer;
            }
            #allpage{
                display: none;
            }
            #res{
                display: none;
            }
}